{% raw %}{% extends "_main_body.html" %}{% endraw %}
{% raw %}{% load static %}{% endraw %}

{% raw %}{% block title %}{% endraw %} Index {% raw %}{% endblock title %}{% endraw %}

{% raw %}{% block content %}{% endraw %}

    <section class="py-5">
        <div class="container text-center">
            <h2>Why Strong Tea Isn't Good For CEOs</h2>
            <p>November 14, by <a href="#">Dinesh Chugtai</a></p>
            <img class="img-fluid my-5" src="{% raw %}{% static 'images/placeholder.svg' %}{% endraw %}" alt="">
            <div class="row text-left">
                <div class="col-lg-8 mx-auto">
                    <p class="lead">An exhaustive guide about how different teas can affect a CEO during their
                        workday.</p>
                    <p>This is a short story about how we uncovered an insane problem with our ICO, fixed it, and still
                        managed to secure vast funding.</p>
                    <ul>
                        <li>why i'm the best programmer ever</li>
                        <li>secrets of decentralization</li>
                        <li>why strong tea isn't good</li>
                        <li>Capitalize on low hanging fruit to identify a ballpark value added.</li>
                    </ul>
                    <p>I feel like not everybody outside of Pied Piper knows it, so I wanted to make it clear why I'm
                        the best programmer in the world.</p>
                    <blockquote class="blockquote text-center p-5 my-2">
                        <p class="mb-3">"Today's user wants access to all their files, from all of their devices,
                            instantly. That's why cloud-based is the Holy Grail. Now Dropbox is winning. But when it
                            comes to audio and video files, they might as well be called Dripbox."</p>
                        <footer class="blockquote-footer mb-3">Erlich Bachman in <cite>S01E03</cite></footer>
                    </blockquote>
                    <p class="mb-3">I feel like not everybody outside of Pied Piper knows it, so I wanted to make it
                        clear why I'm the best programmer in the world.</p>
                    <div><a class="badge badge-pill badge-primary mx-1" href="#">Decentralization</a><a
                            class="badge badge-pill badge-primary mx-1" href="#">Infrastructureless</a><a
                            class="badge badge-pill badge-primary mx-1" href="#">Pied Piper</a><a
                            class="badge badge-pill badge-primary mx-1" href="#">Security</a><a
                            class="badge badge-pill badge-primary mx-1" href="#">Dinesh</a></div>
                </div>
            </div>
        </div>
    </section>

{% raw %}{% endblock content %}{% endraw %}
