<footer class="py-3">
    <div class="container">
        <div class="justify-content-between d-flex flex-column flex-lg-row align-items-center">
            <h5 class="mb-0"><a href="#">Lorem Ipsum</a></h5>
            <ul class="nav justify-content-center my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">Lorem</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Lorem</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Lorem</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Lorem</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Lorem</a></li>
            </ul>
            <p class="mb-0 small text-center text-sm-right">© 2222 Lorem Ipsum. All rights reserved.</p>
        </div>
    </div>
</footer>
