<nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand col-4 pl-0 mr-0" href="{% raw %}{% url 'index' %}{% endraw %}">Lorem Ipsum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigations-09">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center col-8 px-0" id="navigations-09">
        <ul class="navbar-nav col-6 justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="{% raw %}{% url 'blog' %}{% endraw %}">
                    Blog
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Lorem</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Lorem</a></li>
        </ul>
        <div class="col-6 text-lg-right px-0"><a class="btn btn-outline-primary mt-2 mt-lg-0 mr-0" href="#">Sign up</a>
        </div>
    </div>
</nav>
